.wrapper {
  width: 100%;
  position: relative;
}
.image-banner {
  width: 100%;
  height: 450px;
  object-fit: cover;
}
.wrapper-title {
  width: 300px;
  position: absolute;
  transform: translate(36%, 67%);
}
.head-title {
  color: var(--white-color);
  font-size: 30px;
  text-shadow: 3px 5px 0px rgb(47 153 221 / 80%);
}
.sologan {
  font-size: 20px;
  color: white;
}
