.wrapper + .wrapper {
  margin-left: 20px;
}

.list-menu {
  display: flex;
  list-style: none;
}
.menu-item {
  padding: 10px 0px;
  a {
    color: rgb(82, 82, 197);
    font-size: 1.8rem;
    &:hover {
      color: lightblue;
    }
  }
}
